<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <title>Employee Monitoring</title>
</head>

<body>

    <div class="row">
        <div class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni soluta corporis rerum possimus voluptas quibusdam!
        </div>
        <div class="col-lg-9">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis soluta inventore neque deleniti facilis dolorum dolores nisi
            veritatis consectetur culpa repudiandae accusamus doloribus possimus quam excepturi recusandae alias voluptas
            sed.
        </div>
    </div>
</body>

</html>