<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <title>Employee Monitoring</title>
</head>

<body ng-app="app">
    <div class="container">
        <ng-view></ng-view>
    </div>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/component/login/LoginController.js"></script>
</body>

</html>